# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Python caches
*.log
*.pot

# IDE configs
.vscode/
.idea/

# Local data and secrets
.env
*.db

# Runtime artifacts
*.sqlite3
*.pyc
*.pyo
*.pyd
*.swp
.DS_Store

# Bot data
/data/submissions/
/data/action.json
/data/content/*
!/data/content/
!/data/content/english/
!/data/content/russian/

# keep only default placeholders under content
/llm_models/cache/
/llm_models/
/data/content/english/*
!/data/content/english/about.html
!/data/content/english/rule.html
!/data/content/english/instruction.html
/data/content/russian/*
!/data/content/russian/about.html
!/data/content/russian/rule.html
!/data/content/russian/instruction.html
